.open-container{

}

.burger-menu-bt{
  border: 2px solid #999;
  color: #999;
  border-radius: 4px;
  padding: 6px;
  margin: 0 10px;
  top: 10px;
  position: absolute;

}
.side-bar{
  background: #222;
  height: 100%;
  width: 250px;
  position: absolute;
  top: 0;
  z-index: 1;
  animation: fade 0.5s ease;
}
@keyframes fade {
  0% { left: -250px;}
  100% {left: 0;}
}

.close-area{
  width: 100%;
  height: 100%;
  background: gray;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}
